<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.communal.DicAreaMapper" >
  <resultMap id="BaseResultMap" type="com.entity.DicArea" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="PARENT_ID" property="parentId" jdbcType="VARCHAR" />
    <result column="PARENT_IDS" property="parentIds" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="SORT" property="sort" jdbcType="DECIMAL" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="CITYCODE" property="citycode" jdbcType="VARCHAR" />
    <result column="ZONE_CODE" property="zoneCode" jdbcType="VARCHAR" />
    <result column="PINYIN" property="pinyin" jdbcType="VARCHAR" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="DEL_FLAG" property="delFlag" jdbcType="CHAR" />
    <result column="JIANPIN" property="jianpin" jdbcType="VARCHAR" />
    <result column="LNG" property="lng" jdbcType="VARCHAR" />
    <result column="LAT" property="lat" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="CHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.entity.DicArea" extends="BaseResultMap" >
    <result column="REMARKS" property="remarks" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, PARENT_ID, PARENT_IDS, NAME, SORT, CODE, CITYCODE, ZONE_CODE, PINYIN, CREATE_BY, 
    CREATE_DATE, UPDATE_BY, UPDATE_DATE, DEL_FLAG, JIANPIN, LNG, LAT, TYPE
  </sql>
  <sql id="Blob_Column_List" >
    REMARKS
  </sql>
  <!--查询所有地区单位-->
  <select id="selectDicAreaList" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_area WHERE id=#{arearoot,jdbcType=VARCHAR} OR PARENT_ID=#{arearoot,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_area
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.entity.DicArea" >
    insert into sys_area (ID, PARENT_ID, PARENT_IDS, 
      NAME, SORT, CODE, CITYCODE, 
      ZONE_CODE, PINYIN, CREATE_BY, 
      CREATE_DATE, UPDATE_BY, UPDATE_DATE, 
      DEL_FLAG, JIANPIN, LNG, 
      LAT, TYPE, REMARKS
      )
    values (#{id,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, #{parentIds,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{sort,jdbcType=DECIMAL}, #{code,jdbcType=VARCHAR}, #{citycode,jdbcType=VARCHAR}, 
      #{zoneCode,jdbcType=VARCHAR}, #{pinyin,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{delFlag,jdbcType=CHAR}, #{jianpin,jdbcType=VARCHAR}, #{lng,jdbcType=VARCHAR}, 
      #{lat,jdbcType=VARCHAR}, #{type,jdbcType=CHAR}, #{remarks,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.entity.DicArea" >
    insert into sys_area
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="parentId != null" >
        PARENT_ID,
      </if>
      <if test="parentIds != null" >
        PARENT_IDS,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="sort != null" >
        SORT,
      </if>
      <if test="code != null" >
        CODE,
      </if>
      <if test="citycode != null" >
        CITYCODE,
      </if>
      <if test="zoneCode != null" >
        ZONE_CODE,
      </if>
      <if test="pinyin != null" >
        PINYIN,
      </if>
      <if test="createBy != null" >
        CREATE_BY,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="updateBy != null" >
        UPDATE_BY,
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE,
      </if>
      <if test="delFlag != null" >
        DEL_FLAG,
      </if>
      <if test="jianpin != null" >
        JIANPIN,
      </if>
      <if test="lng != null" >
        LNG,
      </if>
      <if test="lat != null" >
        LAT,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="remarks != null" >
        REMARKS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="parentIds != null" >
        #{parentIds,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=DECIMAL},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="citycode != null" >
        #{citycode,jdbcType=VARCHAR},
      </if>
      <if test="zoneCode != null" >
        #{zoneCode,jdbcType=VARCHAR},
      </if>
      <if test="pinyin != null" >
        #{pinyin,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="jianpin != null" >
        #{jianpin,jdbcType=VARCHAR},
      </if>
      <if test="lng != null" >
        #{lng,jdbcType=VARCHAR},
      </if>
      <if test="lat != null" >
        #{lat,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.DicArea" >
    update sys_area
    <set >
      <if test="parentId != null" >
        PARENT_ID = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="parentIds != null" >
        PARENT_IDS = #{parentIds,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        SORT = #{sort,jdbcType=DECIMAL},
      </if>
      <if test="code != null" >
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="citycode != null" >
        CITYCODE = #{citycode,jdbcType=VARCHAR},
      </if>
      <if test="zoneCode != null" >
        ZONE_CODE = #{zoneCode,jdbcType=VARCHAR},
      </if>
      <if test="pinyin != null" >
        PINYIN = #{pinyin,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        DEL_FLAG = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="jianpin != null" >
        JIANPIN = #{jianpin,jdbcType=VARCHAR},
      </if>
      <if test="lng != null" >
        LNG = #{lng,jdbcType=VARCHAR},
      </if>
      <if test="lat != null" >
        LAT = #{lat,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=CHAR},
      </if>
      <if test="remarks != null" >
        REMARKS = #{remarks,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.entity.DicArea" >
    update sys_area
    set PARENT_ID = #{parentId,jdbcType=VARCHAR},
      PARENT_IDS = #{parentIds,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      SORT = #{sort,jdbcType=DECIMAL},
      CODE = #{code,jdbcType=VARCHAR},
      CITYCODE = #{citycode,jdbcType=VARCHAR},
      ZONE_CODE = #{zoneCode,jdbcType=VARCHAR},
      PINYIN = #{pinyin,jdbcType=VARCHAR},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      DEL_FLAG = #{delFlag,jdbcType=CHAR},
      JIANPIN = #{jianpin,jdbcType=VARCHAR},
      LNG = #{lng,jdbcType=VARCHAR},
      LAT = #{lat,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=CHAR},
      REMARKS = #{remarks,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.DicArea" >
    update sys_area
    set PARENT_ID = #{parentId,jdbcType=VARCHAR},
      PARENT_IDS = #{parentIds,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      SORT = #{sort,jdbcType=DECIMAL},
      CODE = #{code,jdbcType=VARCHAR},
      CITYCODE = #{citycode,jdbcType=VARCHAR},
      ZONE_CODE = #{zoneCode,jdbcType=VARCHAR},
      PINYIN = #{pinyin,jdbcType=VARCHAR},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      DEL_FLAG = #{delFlag,jdbcType=CHAR},
      JIANPIN = #{jianpin,jdbcType=VARCHAR},
      LNG = #{lng,jdbcType=VARCHAR},
      LAT = #{lat,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=CHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>