.personTitle {
    /*background: linear-gradient(#1061A2, #278CBA); !* 标准的语法 *!*/
    width: 100%;
    height:90px;
    padding: 15px;
}
.personLogo{
    width: 60px;
    height: 60px;
    margin-left: 20px
}
.mainTitle{
    color: #376fb5;
    font-size: 38px;
    font-weight: bold;
    height:60px;
    line-height: 60px;
}
.subTitle{
    font-size: 40px;
    color: #376fb5;
    font-weight: bold;
    font-family: '楷体','楷体_GB2312';
    margin-left: 30px
}
.frame{
    background-color: #F7FBFF;
    padding: 3px;
    height: 48%;
    width: 100%;
}
#myTabContent{
    border: 1px solid #D1E1FF;
}
.rowStyle{
    border-right: none;
    border-left: none;
    border-top:none;
    margin: 0px;
    border-right:none;
}
.personTxt{
    height: 30px;
    border: 1px solid #D1E1FF;
    border-top: none;
    border-left:none;
    border-bottom: none;
    background-color: #F7FBFF;
    min-height: 30px;
    line-height: 30px;
    text-align: left;
    color: #0A5CA0 !important;
    padding: 0px 0 0 12px ;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.personImgDiv{
    height:218px;
    border: 1px solid #D1E1FF;
    border-left: none;
    line-height:180px;
    text-align: center;
}
.personImg{
    width: 92%;
    height: 100%;
    padding:13px 0;
}
.tab-pane{
    color: #0A5CA0;
    min-height: 150px
}
.confirme{
    float: right;
    padding-right: 40px;
    padding-bottom:10px;
    cursor: pointer;
}
.hide{
    display: none;
}
.show{
    display: block;
}
#caseConfirme , #alarmConfirme{
    width: 98%;
    margin: 1% auto;
}
.btnCon{
    width: 100%;
    text-align: center;
    margin:0 auto;
}
.bg{
    background: #f7fbff;
    border:1px solid #cedfff;
}