<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>每日通报</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    
    <!-- basic styles -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="../assets/css/ace.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/jquery.dataTables.min.css" />
    <script src="../assets/js/jquery-2.0.3.min.js"></script>
    <script src="../js/jquery.dataTables.min.js"></script>
    <script src="../assets/js/datepicker/WdatePicker.js"></script>

    <script src="../js/common.js"></script>
    <link rel="stylesheet" href="../css/commonStyle.css" />
    <link rel="stylesheet" href="../css/statistic.css" />

</head>

<body id="body">
    <div style="width: 100%;height: 100%;margin: 0 auto;padding: 0px;background: white">

                <div class="no-padding">
					<form action="" id="dailyForm">
                    <div class="row breadcrumbs" style="padding: 0 0 0 12px">
                        <div class="col-md-1 no-padding">
                            <span class="title" style="font-size: 13px;color: #0A5CA0">数据日期：</span>
                        </div>
                        <div class="col-md-2 no-padding">
                            <input id="creatTime" name="creatTime" class="dateInput" style="border: 1px solid #D1E1FF;" type="text" onfocus="WdatePicker({dateFmt: 'yyyy-MM-dd', maxDate: '%y-%M-%d'});">
                        </div>
                        <div class="col-md-1 no-padding searchBtn withBack" style="border: none">
                            <button class="btn btn-primary" type="button" onclick="queryDailyBriefing();"> 查询 </button>
                        </div>
                    </div>
					</form>
                </div>

                <h3 style="text-align: center">每日扫黑情报研判通报(
                    <span id="s_date">XXXX年XX月XX日</span>)</h3>

                <!--通报内容-->
                <div id="div_briefing" class="breadcrumbs" style="margin-top: 20px">
                    <ul class="ul-wrapper" style="display: block">
                        <li>
                            <h4>每日综合情况:</h4>
                        </li>
                        <li>
                            <span>(一)、每日全市案件情况:</span>
                        </li>
                        <li>
                            <span>
                                <span>XX月XX日</span>
                                、全市共抽取了相关案件
                                <span class="ul-li-redNum">0</span>
                                起。其中刑事案件
                                <span class="ul-li-redNum">0</span>
                                起、治安案件
                                <span class="ul-li-redNum">0</span>
                                起。
                            </span>
                        </li>
                        <li>
                            <span>
                                按案件类别分类(由多到少排序):
                                <span class="ul-li-blueText"></span>
                            </span>
                        </li>
                        <li>
                            <span>
                                按案件区域分类(由多到少排序):
                                <span class="ul-li-blueText"></span>
                            </span>
                        </li>
                        <li>
                            <span>
                                <span>XX月XX日</span>
                                ,全市共录入案件
                                <span class="ul-li-redNum">0</span>
                                起。
                            </span>
                        </li>
                    </ul>

                </div>

                <div class="page-content">

                    <!--tab切换内容-->
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade in active" id="message">
                            <div class="wt100">
                                <table id="dynamic-table" class="cell-border table table-striped table-bordered table-hover dataTable" cellspacing="0" width="100%">

                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
    <!-- basic scripts -->

    <!-- <![endif]-->
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/typeahead-bs2.min.js"></script>

    <!-- ace scripts -->
    <script src="../assets/js/ace-elements.min.js"></script>
    <script src="../assets/js/ace.min.js"></script>
    <!-- page specific plugin scripts -->

    <script src="../assets/js/jquery.dataTables.min.js"></script>
    <script src="../assets/js/jquery.dataTables.bootstrap.js"></script>

    <!-- inline scripts related to this page -->
    <script type="text/javascript"></script>

    <script>

    	function queryDailyBriefing(){
            var creatTime = $('#creatTime').val();
            //获取时间值
            $("#s_date").html(creatTime);
            //重新加载页面内容，不包括列表
            $.ajax({
    			type: 'GET',
     			url: getRootPath_web()+"integral/dailyBriefing?createTime="+creatTime,//发送请求
     			cache: false,async: false,dataType : "html",
     			success: function(data) {
     				if(data){
         				$("#div_briefing").html(data);
     				}
     			}
 			});
            var obj = {};
            obj["isArchive"] ="0";
            obj["isAbandon"] ="0";
            obj["startTime"] =$("#creatTime").val()+" 00:00:00" ;
            obj["endTime"] = $("#creatTime").val()+" 23:59:59";
            var data = JSON.stringify(obj);
            dynamictable.search(data).draw();

    	}


        $(document).ready(function () {
            menuThing();
    		var s = getToday();
    		$("#creatTime").val(s);
            selectList();
            queryDailyBriefing();
        });

        var dynamictable;
        function selectList(){
            $("#dynamic-table_filter").css('display', 'block');
            dynamictable = $("#dynamic-table").DataTable(
                {
                    "bLengthChange": false, /* 去掉每页显示多少条数据方法 */
                    "processing": true,/*控制是否在数据加载时出现”Processing”的提示,一般在远程加载并且比较慢的情况下才会出现. 样式需要定义,否则比较丑.*/
                    "pageLength": 5,/*默认*/
                    "lengthMenu": [[5, 10, 20, -1],
                        [5, 10, 20, "全部"]],
                    /*"deferRender": true,*/
                    "searching": true,/*控制控件的搜索功能,如果为false,控件的搜索功能被完全禁用,而且默认搜索组件会被隐藏.*/
                    "serverSide": true,/* 启用服务器端分页,当设为true时,列表的过滤,搜索和排序信息会传递到Server端进行处理,实现真翻页方案的必需属性.反之,所有的列表功能都在客户端计算并执行*/
                    "autoWidth": false,/*用来启用或禁用自动列的宽度计算。通常被禁用作为优化（它需要一个有限的时间量来计算的宽度），默认值是true，所以通常将它设为false*/
                    /*  "order": [   //表示先对第1列进行升序排序，再按照第二列升序排序，最后按照第三列降序排序
                     [0, "desc"]
                     ], */
                    //因为需要多次初始化，所以需要设置允许销毁实例
                    "destroy": true,
                    "bFilter": false,
                    "orderMulti": false, //启用多列排序
                    "order": [], //取消默认排序查询,否则复选框一列会出现小箭头
                    /* "pagingType": "full_numbers", *///分页样式：simple,simple_numbers,full,full_numbers
                    /*   "table-layout":fix, */
                    "row-border": true,
                    "oLanguage": {
                        "sEmptyTable": "没有记录",
                        "sProcessing": "处理中，请稍候...",
                        "sLengthMenu": "每页显示 _MENU_ 条记录",
                        "sZeroRecords": "没有记录",
                        "sInfo": " _START_ 到  _END_ 条记录,总记录数为 _TOTAL_ 条",
                        "sInfoEmpty": "记录数为0",
                        "sInfoFiltered": "(从全部记录数 _MAX_ 条中过滤)",
                        "sInfoPostFix": "",
                        "sLoadingRecords": "正在加载中,请稍候...",
                        "sSearch": "搜索",
                        "sUrl": "",
                        "oPaginate": {
                            "sFirst": "首页",
                            "sPrevious": "上一页",
                            "sNext": "下一页",
                            "sLast": "末页"
                        }
                    },
                    ajax: {
                        url: getRootPath_web()+"case/findCaseInStatistic",
                        "type": "post"
                    },
                    /*序号自增长*/
                    /*
                     "fnDrawCallback": function () {
                     this.api().column(0).nodes().each(function (cell, i) {
                     cell.innerHTML = i + 1;
                     });
                     },
                     */
                    "bDeferRender": true,/*是否启用延迟加载：当你使用AJAX数据源时，可以提升速度。*/

                    "columns": [

                        {
                            "sTitle": '<font size="2px">单位名称</font>', 'sWidth': '20%', "sClass": "dt-center", 'data': 'inputUnitName', 'bSortable': false,
                            'render': function (data, type, row, meta) {
                                if (data == "" || data == null) {
                                    return "--";
                                }
                                return data;
                            }
                        },
                        {
                            "sTitle": '<font size="2px">案件编号</font>', "sWidth": "10%", "sClass": "dt-center", 'data': 'caseNo', 'bSortable': false,
                            'render': function (data, type, row, meta) {
                                if (data == "" || data == null) {
                                    return "--";
                                }
                                return data;
                            }
                        },
                        {
                            "sTitle": '<font size="2px">案件来源</font>', "sWidth": "20%", "sClass": "dt-center", 'data': 'sourceType', 'bSortable': false,
                            'render': function (data, type, row, meta) {
                                if (data == "" || data == null) {
                                    return "--";
                                }
                                return dicCommon[21][data];
                            }
                        },
                        {
                            "sTitle": '<font size="2px">案件类别</font>', "sWidth": "10%", "sClass": "dt-center", 'data': 'caseClass', 'bSortable': false,
                            'render': function (data, type, row, meta) {
                                if (data == ""||data == "0"||data == 0 || data == null) {
                                    return "--";
                                }
                                return dicCommon[19][data];
                            }
                        }


                    ]
                    /*
                     "columnDefs": [{
                     "sTitle": '<font size="2px">操作</font>',
                     "sWidth": "15%",
                     "data": "describe",
                     "sClass": "dt-left",//字体居中dt-center
                     'targets': [2],//第几列，只能放在最后
                     'render': function (data, type, row, meta) {
                     return '<a href="#" class="operation">详情</a>';
                     },
                     'bSortable': false
                     }]
                     */


                });
            $("#dynamic-table_filter").css("display", "none");
        }
    </script>
    
</body>

</html>
