<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>每日统计表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <!-- basic styles -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="../assets/css/ace.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/jquery.dataTables.min.css" />
    <script src="../assets/js/jquery-2.0.3.min.js"></script>
    <script src="../js/jquery.dataTables.min.js"></script>
    <script src="../assets/js/datepicker/WdatePicker.js"></script>

    <script src="../js/common.js"></script>
    <link rel="stylesheet" href="../css/commonStyle.css" />
    <link rel="stylesheet" href="../css/statistic.css" />
</head>
<body id="body">
    <div style="width: 100%;height: 100%;margin: 0 auto;background: white">

                <div class="no-padding">
					<form action="" id="dailyForm">
                    <div class="row breadcrumbs" style="padding: 0 0 0 12px">
                        <div class="col-md-1 no-padding">
                            <span class="title" style="font-size: 13px;color: #0A5CA0">数据日期：</span>
                        </div>
                        <div class="col-md-2 no-padding">
                            <input id="creatTime" name="creatTime" class="dateInput" style="border: 1px solid #D1E1FF;" type="text" onfocus="WdatePicker({dateFmt: 'yyyy-MM-dd', maxDate: '%y-%M-%d'});">
                        </div>
                        <div class="col-md-1 no-padding searchBtn withBack" style="border: none">
                            <button class="btn btn-primary" type="button" onclick="queryDailyStatistic()"> 查询 </button>
                        </div>
                    </div>
					</form>
                </div>

                <div class="page-content">

                    <h3 style="text-align: center">每日扫黑情报研判统计表(
                        <span id="s_date">XXXX年XX月XX日</span>)</h3>

                    <!--tab切换内容-->
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade in active" id="message">
                            <div class="wt100">
                                <table id="dynamic-table" class="cell-border table table-striped table-bordered table-hover dataTable" cellspacing="0" width="100%">
                                
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    <!-- basic scripts -->

    <!-- <![endif]-->
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/typeahead-bs2.min.js"></script>

    <!-- ace scripts -->
    <script src="../assets/js/ace-elements.min.js"></script>
    <script src="../assets/js/ace.min.js"></script>
    <!-- page specific plugin scripts -->

    <script src="../assets/js/jquery.dataTables.min.js"></script>
    <script src="../assets/js/jquery.dataTables.bootstrap.js"></script>

    <!-- inline scripts related to this page -->
    <script type="text/javascript"></script>

    <script>
        function queryDailyStatistic(){
        	var createTime = $('#creatTime').val();
    		$("#s_date").html(createTime);
    		
			var obj = {};
            obj["creatTime"] =createTime;
            var data = JSON.stringify(obj);
            dynamictable.search(data).draw();
        }
        	
        var dynamictable;
        $(document).ready(function () {
            menuThing();
        	//
    		var s = getToday();
    		$("#creatTime").val(s);
        
            $("#dynamic-table_filter").css('display', 'block');
            dynamictable = $("#dynamic-table").DataTable(
                {
                	"info": false, //去掉info，
					"bPaginate":false,//去掉分页
                    "bLengthChange": false, /* 去掉每页显示多少条数据方法 */
                    "processing": true,/*控制是否在数据加载时出现”Processing”的提示,一般在远程加载并且比较慢的情况下才会出现. 样式需要定义,否则比较丑.*/
                    /*"deferRender": true,*/
                    "searching": true,/*控制控件的搜索功能,如果为false,控件的搜索功能被完全禁用,而且默认搜索组件会被隐藏.*/
                    "serverSide": true,/* 启用服务器端分页,当设为true时,列表的过滤,搜索和排序信息会传递到Server端进行处理,实现真翻页方案的必需属性.反之,所有的列表功能都在客户端计算并执行*/
                    "autoWidth": false,/*用来启用或禁用自动列的宽度计算。通常被禁用作为优化（它需要一个有限的时间量来计算的宽度），默认值是true，所以通常将它设为false*/
                    //因为需要多次初始化，所以需要设置允许销毁实例
                    "destroy": true,
                    "bFilter": false,
                    "orderMulti": false, //启用多列排序
                    "order": [], //取消默认排序查询,否则复选框一列会出现小箭头
                    "row-border": true,
                    "oLanguage" : {
                    	"sEmptyTable" : "没有记录",
                    	"sProcessing" : "处理中，请稍候...",
                    	"sLengthMenu" : "每页显示 _MENU_ 条记录",
                    	"sZeroRecords" : "没有记录",
                    	"sInfo" : "", /*去除表格底部的1 到 1 条记录,总记录数为 1 条*/
                    	"sInfoEmpty" : "记录数为0",
                    	"sInfoFiltered" : "(从全部记录数 _MAX_ 条中过滤)",
                    	"sInfoPostFix" : "",
                    	"sLoadingRecords" : "正在加载中,请稍候...",
                    	"sSearch" : "搜索",
                    	"sUrl" : "",
                    	"oPaginate" : {
                        	"sFirst" : "首页",
                        	"sPrevious" : "上一页",
                        	"sNext" : "下一页",
                        	"sLast" : "末页"
                        },
               		},
                    ajax: {
                        url: getRootPath_web()+"integral/dailyStatistics",//发送请求
                        "type": "post"
                    },


                    "bDeferRender": true,/*是否启用延迟加载：当你使用AJAX数据源时，可以提升速度。*/

                    "columns": [
                        {
                            "sTitle": '<font size="2px">单位数据</font>', 'sWidth': '5%', "sClass": "dt-center", 'data': 'zoneName', 'bSortable': false,
                            'render': function (data, type, row, meta) {
                                if (data == "" || data == null) {
                                    return "--";
                                }
                                return data;
                            }
                        },
                        {
                            "sTitle": '<font size="2px">案件采集总计</font>', 'sWidth': '5%', "sClass": "dt-center", 'data': 'caseNum', 'bSortable': false,
                            'render': function (data, type, row, meta) {
                                if (data == "" || data == null) {
                                    return "0";
                                }
                                return data;
                            }
                        },
                        {
                            "sTitle": '<font size="2px">人员采集总计</font>', "sWidth": "5%", "sClass": "dt-center", 'data': 'suspectNum', 'bSortable': false,
                            'render': function (data, type, row, meta) {
                                if (data == "" || data == null) {
                                    return "0";
                                }
                                return data;
                            }
                        },
                        {
                            "sTitle": '<font size="2px">情报采集总计</font>', "sWidth": "5%", "sClass": "dt-center", 'data': 'inforNum', 'bSortable': false,
                            'render': function (data, type, row, meta) {
                                if (data == "" || data == null) {
                                    return "0";
                                }
                                return data;
                            }
                        }

                    ]


                });
            $("#dynamic-table_filter").css("display", "none");
            
            queryDailyStatistic();
        });
    </script>

</body>

</html>