<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>警情录入</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <!-- basic styles -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="../assets/css/ace.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/jquery.dataTables.min.css" />
    <script src="../assets/js/jquery-2.0.3.min.js"></script>

    <script src="../js/common.js"></script>
    <link rel="stylesheet" href="../css/commonStyle.css" />
    <link rel="stylesheet" href="../css/alarm.css" />
    <script src="../assets/js/datepicker/WdatePicker.js"></script>

    <!-- <![endif]-->
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/typeahead-bs2.min.js"></script>

    <!-- ace scripts -->
    <script src="../assets/js/ace-elements.min.js"></script>
    <script src="../assets/js/ace.min.js"></script>
    <!-- page specific plugin scripts -->

    <!-- inline scripts related to this page -->
    <script type="text/javascript"></script>
    <script src="../assets/js/layer/layer.js"></script>
</head>
<body>
<div style="width: 100%;height: 100%;margin: 0 auto;padding: 8px;background: white">
    <!--当前页面位置-->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>
        <ul class="breadcrumb">
            <li>
                <span class="title">当前位置：</span>
                <span>警情录入</span>
            </li>
        </ul>
    </div>
    <!--警情基本信息录入-->
    <div class="breadcrumbs" style="width: auto;height: auto;padding: 0px">
        <!--警情信息录入-->
        <div class="row breadcrumbs" style="text-align: center;margin: 0px;border-left: none;border-top: none;border-right: none">
            <div class="col-md-12">
                <span class="title">警情信息</span>
            </div>
        </div>
        <form action="" id="alarmForm">
            <!--警情编号、接警人员、接警单位-->
            <div class="row breadcrumbs warningContainer">
                <!--<div class="col-md-4 noPadding">-->
                <!--<div class="col-md-4 warningTxt">-->
                <!--<span>警情编号</span>-->
                <!--</div>-->
                <!--<div class="col-md-8 warningInput">-->
                <!--<input type="text" id="alarmNo" name="alarmNo"/>-->
                <!--</div>-->
                <!--</div>-->
                <div class="col-md-4 noPadding">
                    <div class="col-md-4 warningTxt">
                        <span class="required">*</span>
                        <span>接警人员</span>
                    </div>
                    <div class="col-md-8 warningInput">
                        <input type="text" id="officerName" name="officerName"/>
                    </div>
                </div>
                <!-- <div class="col-md-4 noPadding">
                    <div class="col-md-4 warningTxt">
                        <span class="required">*</span>
                        <span>接警单位</span>
                    </div>
                    <div class="col-md-8 warningInput">
                        <select id="unitName" name="unitName"></select>
                    </div>
                </div> -->
                <div class="col-md-4 noPadding">
                    <div class="col-md-4 warningTxt">
                        <span class="required">*</span>
                        <span>报警电话</span>
                    </div>
                    <div class="col-md-8 warningInput lastInput">
                        <input type="text" id="alarmPersonPhone" name="alarmPersonPhone"/>
                    </div>
                </div>
            </div>
            <!--接警时间、报警人、报警电话-->
            <div class="row breadcrumbs warningContainer">
                <div class="col-md-4 noPadding">
                    <div class="col-md-4 warningTxt">
                        <span class="required">*</span>
                        <span>接警时间</span>
                    </div>
                    <div class="col-md-8 warningInput">
                        <input type="text" id="alarmTime" name="alarmTime" onfocus="WdatePicker({dateFmt: 'yyyy-MM-dd HH:mm:ss', maxDate: '%y-%M-%d'}); "oninput="setCustomValidity('');"/>
                    </div>
                </div>
                <div class="col-md-4 noPadding">
                    <div class="col-md-4 warningTxt">
                        <span class="required">*</span>
                        <span>警情分类</span>
                    </div>
                    <div class="col-md-8 warningInput">
                        <select id="alarmClass" name="alarmClass" >
                        </select>
                    </div>
                </div>
                <div class="col-md-4 noPadding">
                    <div class="col-md-4 warningTxt">
                        <span class="required">*</span>
                        <span>报警人</span>
                    </div>
                    <div class="col-md-8 warningInput ">
                        <input type="text" id="alarmPersonName" name="alarmPersonName"/>
                    </div>
                </div>

            </div>
            <!--发案地点-->
            <div class="row breadcrumbs warningContainer">

                <div class="col-md-8 noPadding">
                    <div class="col-md-2 warningTxt">
                        <span class="required">*</span>
                        <span>发案地点</span>
                    </div>
                    <div class="col-md-10 warningInput ">
                        <input type="text" id="locationCase" name="locationCase" style="width: 98.5%"/>
                    </div>
                </div>
            </div>
            <!--警情描述-->
            <div class="row breadcrumbs warningContainer" style="min-height: 200px">
                <div class="col-md-2 warningTxt" style="width:11.11%;min-height: 200px;line-height: 200px">
                    <span class="required">*</span>
                    <span>警情描述</span>
                </div>
                <div class="col-md-10 warningInput lastInput" style="width:88.88%;min-height: 200px">
                    <textarea type="text" id="alarmDesc" name="alarmDesc" style="width: 99%;min-height: 200px"></textarea>
                </div>
            </div>
        </form>
        
       
        <!--提交栏-->
        <div class="row breadcrumbs titleBadge">
            <div class="col-md-12 searchBtn" style="border: none">
             	<input type="hidden" id="id" style="width: 98.5%"/>
                <button class="btn btn-primary" onclick="updateCaseById()" type="button"> 提交 </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
//案件状态
//selectDicCommon(18,"caseState");
$(document).ready(function () {
    //selectDicUnit("unitName");
    selectDicCommon(20,"alarmClass");
});


$(window).ready(function () {
    var thisURL = document.URL;
    console.log(thisURL);
    var  getval =thisURL.split('?')[1];
    var alarmNo= getval.split("=")[1];
    findCaseById(alarmNo);
});
/*查询案件信息*/
function findCaseById(alarmNo){
    $.ajax({
        type: 'POST',
        url: getRootPath_web()+"/ETAlarmHandler/selectByPrimaryKey?alarmNo="+alarmNo,//发送请求
        dataType : "json",
        success: function(data) {
            var json = $.parseJSON(data.data);
            console.log(json.data);
            var jsonObj = json.data;
            for (var prop in jsonObj){
            	console.log(prop);
            	 if(prop=="unitCode"){
	                //$("#unitName").val((jsonObj[prop]==null?"":jsonObj[prop]));
            	}else if(prop=="alarmClass"){
	                $("#alarmClass").val((jsonObj[prop]==null?"":jsonObj[prop]));
            	}else if(prop!="unitName"){
	                $("#"+prop).val((jsonObj[prop]==null?"":jsonObj[prop]));
            	} 
            }
        }
    });
}

/*新案件插入*/
function updateCaseById(){
    var my_alarmForm=$("#alarmForm");
    var alarmFormStr=Common.validateForm(my_alarmForm);
    if(alarmFormStr==""){
        return;
    } else{
	    $.ajax({
	        type: 'POST',
	        url: getRootPath_web()+"/ETAlarmHandler/updateETAlaemData",//发送请求
	        dataType : "json",
	        contentType:"application/x-www-form-urlencoded; charset=utf-8",
	        data:{
	        	id:$("#id").val(),
	        	officerName:$("#officerName").val(),
	        	//unitName:$("#unitName").find("option:selected").text(),
	        	//unitCode:$("#unitName").val(),
	        	alarmClass:$("#alarmClass").val(),
	        	alarmTime:$("#alarmTime").val(),
	        	alarmPersonName:$("#alarmPersonName").val(),
	        	alarmPersonPhone:$("#alarmPersonPhone").val(),
	        	locationCase:$("#locationCase").val(),
	        	alarmDesc:$("#alarmDesc").val()
	        },
	        success: function(json) {
	        	if(json.data==1){
	        		layer.msg("数据更新成功！", {
	    			      icon: 6,
	    			      time: 2000 //2秒关闭（如果不配置，默认是3秒）
	    			    }, function(){
				            var index=parent.layer.getFrameIndex(window.name);
					        parent.layer.close(index);
	                    });
	        	logEntry("1","警情编辑 警情编号："+$("#id").val());
	        	}
	        }
	    });
	}
}
</script>
</body>
</html>

