<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.caseInfo.EtCaseMapper">
  <resultMap id="BaseResultMap" type="com.entity.caseInfo.EtCase">
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="CASE_NO" property="caseNo" jdbcType="VARCHAR" />
    <result column="ALARM_NO" property="alarmNo" jdbcType="VARCHAR" />
    <result column="CASE_TITLE" property="caseTitle" jdbcType="VARCHAR" />
    <result column="CASE_STATE" property="caseState" jdbcType="INTEGER" />
    <result column="CASE_CLASS" property="caseClass" jdbcType="VARCHAR" />
    <result column="CASE_SOURCE" property="caseSource" jdbcType="VARCHAR" />
    <result column="SOURCE_TYPE" property="sourceType" jdbcType="INTEGER" />
    <result column="CASE_REMARKS" property="caseRemarks" jdbcType="VARCHAR" />
    <result column="DETAL_ADDRESS" property="detalAddress" jdbcType="VARCHAR" />
    <result column="HAPPEN_TIME_UP" property="happenTimeUp" jdbcType="TIMESTAMP" />
    <result column="HAPPEN_TIME_DOWN" property="happenTimeDown" jdbcType="TIMESTAMP" />
    <result column="ZONE_CODE" property="zoneCode" jdbcType="VARCHAR" />
    <result column="ZONE_NAME" property="zoneName" jdbcType="VARCHAR" />
    <result column="ACCEPT_UNIT_CODE" property="acceptUnitCode" jdbcType="VARCHAR" />
    <result column="ACCEPT_UNIT_NAME" property="acceptUnitName" jdbcType="VARCHAR" />
    <result column="ACCEPT_TIME" property="acceptTime" jdbcType="TIMESTAMP" />
    <result column="HOST_UNIT_CODE" property="hostUnitCode" jdbcType="VARCHAR" />
    <result column="HOST_UNIT_NAME" property="hostUnitName" jdbcType="VARCHAR" />
    <result column="SPONSOR_CODE" property="sponsorCode" jdbcType="VARCHAR" />
    <result column="SPONSOR_NAME" property="sponsorName" jdbcType="VARCHAR" />
    <result column="SPONSOR_PHONE" property="sponsorPhone" jdbcType="VARCHAR" />
    <result column="ASSIST_UNIT_CODE" property="assistUnitCode" jdbcType="VARCHAR" />
    <result column="ASSIST_UNIT_NAME" property="assistUnitName" jdbcType="VARCHAR" />
    <result column="ASSISTANT_CODE" property="assistantCode" jdbcType="VARCHAR" />
    <result column="ASSISTANT_NAME" property="assistantName" jdbcType="VARCHAR" />
    <result column="ASSISTANT_PHONE" property="assistantPhone" jdbcType="VARCHAR" />
    <result column="INPUT_UNIT_CODE" property="inputUnitCode" jdbcType="VARCHAR" />
    <result column="INPUT_UNIT_NAME" property="inputUnitName" jdbcType="VARCHAR" />
    <result column="INPUTER_CODE" property="inputerCode" jdbcType="VARCHAR" />
    <result column="INPUTER_NAME" property="inputerName" jdbcType="VARCHAR" />
    <result column="IS_FOLLOW" jdbcType="INTEGER" property="isFollow" />
    <result column="IS_APPROVAL" jdbcType="INTEGER" property="isApproval" />
    <result column="IS_ARCHIVE" jdbcType="INTEGER" property="isArchive" />
    <result column="ARCHIVE_DESC" jdbcType="VARCHAR" property="archiveDesc" />
    <result column="IS_ABANDON" jdbcType="INTEGER" property="isAbandon" />
    <result column="ABANDON_DESC" jdbcType="VARCHAR" property="abandonDesc" />
    <result column="CREAT_TIME" jdbcType="TIMESTAMP" property="creatTime" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="RESERVE_A" jdbcType="VARCHAR" property="reserveA"  />
    <result column="RESERVE_B" jdbcType="VARCHAR" property="reserveB" />
    <result column="RESERVE_C" jdbcType="VARCHAR" property="reserveC" />
    <result column="RESERVE_D" jdbcType="VARCHAR" property="reserveD" />
    <result column="dece_signs" jdbcType="VARCHAR" property="deceSigns" />
    <result column="RELATION" jdbcType="VARCHAR" property="relation" />
    <result column="LABEL" jdbcType="VARCHAR" property="lable" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.entity.caseInfo.EtCase">
    <result column="CASE_DESC" jdbcType="LONGVARCHAR" property="caseDesc" />
  </resultMap>
  <select id="getCaseById" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs" >
    select
    <include refid="Base_Column_List" />
    from et_case
    <if test="id != null and id !=''" >
      where ID = #{id,jdbcType=VARCHAR}
    </if>
  </select>

    <!--获取案件总量-->
  <select id="getCaseNum" resultType="java.lang.Integer">
    SELECT COUNT(*) FROM et_case;
  </select>

  <!--案件添加-->
  <insert id="insert" parameterType="com.entity.caseInfo.EtCase">
    insert into et_case
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null and id!=''" >
        ID,
      </if>
      <if test="caseNo != null and caseNo !=''" >
        CASE_NO,
      </if>
      <if test="alarmNo != null and alarmNo !=''" >
        ALARM_NO,
      </if>
      <if test="caseTitle != null and caseTitle !=''" >
        CASE_TITLE,
      </if>
      <if test="caseState != null and caseState !=''" >
        CASE_STATE,
      </if>
      <if test="caseClass != null and caseClass !='0' and caseClass !=''" >
        CASE_CLASS,
      </if>
      <if test="caseSource != null and caseSource !=''" >
        CASE_SOURCE,
      </if>
        SOURCE_TYPE,
      <if test="caseRemarks != null and caseRemarks !=''" >
        CASE_REMARKS,
      </if>
      <if test="detalAddress != null and detalAddress !=''" >
        DETAL_ADDRESS,
      </if>
      <if test="happenTimeUp != null and happenTimeUp !=''" >
        HAPPEN_TIME_UP,
      </if>
      <if test="happenTimeDown != null and happenTimeDown !=''" >
        HAPPEN_TIME_DOWN,
      </if>
      <if test="zoneCode != null and zoneCode !=''" >
        ZONE_CODE,
      </if>
      <if test="zoneName != null and zoneName !=''" >
        ZONE_NAME,
      </if>
      <if test="acceptUnitCode != null and acceptUnitCode !=''" >
        ACCEPT_UNIT_CODE,
      </if>
      <if test="acceptUnitName != null and acceptUnitName !=''" >
        ACCEPT_UNIT_NAME,
      </if>
      <if test="acceptTime != null and acceptTime !=''" >
        ACCEPT_TIME,
      </if>
      <if test="hostUnitCode != null and hostUnitCode !=''" >
        HOST_UNIT_CODE,
      </if>
      <if test="hostUnitName != null and hostUnitName !=''" >
        HOST_UNIT_NAME,
      </if>
      <if test="sponsorCode != null and sponsorCode !=''" >
        SPONSOR_CODE,
      </if>
      <if test="sponsorName != null and sponsorName !=''" >
        SPONSOR_NAME,
      </if>
      <if test="sponsorPhone != null and sponsorPhone !=''" >
        SPONSOR_PHONE,
      </if>
      <if test="assistUnitCode != null and assistUnitCode !=''" >
        ASSIST_UNIT_CODE,
      </if>
      <if test="assistUnitName != null and assistUnitName !=''" >
        ASSIST_UNIT_NAME,
      </if>
      <if test="assistantCode != null and assistantCode !=''" >
        ASSISTANT_CODE,
      </if>
      <if test="assistantName != null and assistantName !=''" >
        ASSISTANT_NAME,
      </if>
      <if test="assistantPhone != null and assistantPhone !=''" >
        ASSISTANT_PHONE,
      </if>
      <if test="inputUnitCode != null and inputUnitCode !=''" >
        INPUT_UNIT_CODE,
      </if>
      <if test="inputUnitName != null and inputUnitName !=''" >
        INPUT_UNIT_NAME,
      </if>
      <if test="inputerCode != null and inputerCode !=''" >
        INPUTER_CODE,
      </if>
      <if test="inputerName != null and inputerName !=''" >
        INPUTER_NAME,
      </if>
      <if test="isFollow != null " >
        IS_FOLLOW,
      </if>
      <if test="isApproval != null" >
        IS_APPROVAL,
      </if>
      <if test="isArchive != null" >
        IS_ARCHIVE,
      </if>
      <if test="archiveDesc != null and archiveDesc !=''" >
        ARCHIVE_DESC,
      </if>
      <if test="isAbandon != null" >
        IS_ABANDON,
      </if>
      <if test="abandonDesc != null and abandonDesc !=''" >
        ABANDON_DESC,
      </if>
        CREAT_TIME,
        MODIFY_TIME,
      <if test="reserveA != null and reserveA !=''" >
        RESERVE_A,
      </if>
      <if test="reserveB != null and reserveB !=''" >
        RESERVE_B,
      </if>
      <if test="reserveA != null and reserveA !=''" >
        RESERVE_C,
      </if>
      <if test="reserveB != null and reserveB !=''" >
        RESERVE_D,
      </if>
      <if test="caseDesc != null and caseDesc !=''" >
        CASE_DESC,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null and id != '' " >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="caseNo != null and caseNo !=''" >
        #{caseNo,jdbcType=VARCHAR},
      </if>
      <if test="alarmNo != null and alarmNo !=''" >
        #{alarmNo,jdbcType=VARCHAR},
      </if>
      <if test="caseTitle != null and caseTitle !=''" >
        #{caseTitle,jdbcType=VARCHAR},
      </if>
      <if test="caseState != null " >
        #{caseState,jdbcType=INTEGER},
      </if>
      <if test="caseClass != null and caseClass !='0' and caseClass !=''" >
        #{caseClass,jdbcType=INTEGER},
      </if>
      <if test="caseSource != null and caseSource !=''" >
        #{caseSource,jdbcType=VARCHAR},
      </if>
          2102,
      <if test="caseRemarks != null and caseRemarks !=''" >
        #{caseRemarks,jdbcType=VARCHAR},
      </if>
      <if test="detalAddress != null and detalAddress !=''" >
        #{detalAddress,jdbcType=VARCHAR},
      </if>
      <if test="happenTimeUp != null and happenTimeUp !=''" >
        #{happenTimeUp},
      </if>
      <if test="happenTimeDown != null and happenTimeDown !=''" >
        #{happenTimeDown},
      </if>
      <if test="zoneCode != null and zoneCode !=''" >
        #{zoneCode,jdbcType=VARCHAR},
      </if>
      <if test="zoneName != null and zoneName !=''" >
        #{zoneName,jdbcType=VARCHAR},
      </if>
      <if test="acceptUnitCode != null and acceptUnitCode !=''" >
        #{acceptUnitCode,jdbcType=VARCHAR},
      </if>
      <if test="acceptUnitName != null and acceptUnitName !=''" >
        #{acceptUnitName,jdbcType=VARCHAR},
      </if>
      <if test="acceptTime != null and acceptTime !=''" >
        #{acceptTime},
      </if>
      <if test="hostUnitCode != null and hostUnitCode !=''" >
        #{hostUnitCode,jdbcType=VARCHAR},
      </if>
      <if test="hostUnitName != null and hostUnitName !=''" >
        #{hostUnitName,jdbcType=VARCHAR},
      </if>
      <if test="sponsorCode != null and sponsorCode !=''" >
        #{sponsorCode,jdbcType=VARCHAR},
      </if>
      <if test="sponsorName != null and sponsorName !=''" >
        #{sponsorName,jdbcType=VARCHAR},
      </if>
      <if test="sponsorPhone != null and sponsorPhone !=''" >
        #{sponsorPhone,jdbcType=VARCHAR},
      </if>
      <if test="assistUnitCode != null and assistUnitCode !=''" >
        #{assistUnitCode,jdbcType=VARCHAR},
      </if>
      <if test="assistUnitName != null and assistUnitName !=''" >
        #{assistUnitName,jdbcType=VARCHAR},
      </if>
      <if test="assistantCode != null and assistantCode !=''" >
        #{assistantCode,jdbcType=VARCHAR},
      </if>
      <if test="assistantName != null and assistantName !=''" >
        #{assistantName,jdbcType=VARCHAR},
      </if>
      <if test="assistantPhone != null and assistantPhone !=''" >
        #{assistantPhone,jdbcType=VARCHAR},
      </if>
      <if test="inputUnitCode != null and inputUnitCode !=''" >
        #{inputUnitCode,jdbcType=VARCHAR},
      </if>
      <if test="inputUnitName != null and inputUnitName !=''" >
        #{inputUnitName,jdbcType=VARCHAR},
      </if>
      <if test="inputerCode != null and inputerCode !=''" >
        #{inputerCode,jdbcType=VARCHAR},
      </if>
      <if test="inputerName != null and inputerName !=''" >
        #{inputerName,jdbcType=VARCHAR},
      </if>
      <if test="isFollow != null" >
        #{isFollow,jdbcType=INTEGER},
      </if>
      <if test="isApproval != null" >
        #{isApproval,jdbcType=INTEGER},
      </if>
      <if test="isArchive != null" >
        #{isArchive,jdbcType=INTEGER},
      </if>
      <if test="archiveDesc != null and archiveDesc !=''" >
        #{archiveDesc,jdbcType=VARCHAR},
      </if>
      <if test="isAbandon != null" >
        #{isAbandon,jdbcType=INTEGER},
      </if>
      <if test="abandonDesc != null and abandonDesc !=''" >
        #{abandonDesc,jdbcType=VARCHAR},
      </if>
        now(),
        now(),
      <if test="reserveA != null and reserveA !=''" >
        #{reserveA,jdbcType=VARCHAR},
      </if>
      <if test="reserveB != null and reserveB !=''" >
        #{reserveB,jdbcType=VARCHAR},
      </if>
      <if test="reserveA != null and reserveA !=''" >
        #{reserveC,jdbcType=VARCHAR},
      </if>
      <if test="reserveB != null and reserveB !=''" >
        #{reserveD,jdbcType=VARCHAR},
      </if>
      <if test="caseDesc != null and caseDesc !=''" >
        #{caseDesc,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <!--案件根据ID删除-->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from et_case
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <!--案件编辑-->
  <update id="updateCase" parameterType="com.entity.caseInfo.EtCase">
    update et_case
    <set >
      <if test="caseNo != null " >
        CASE_NO = #{caseNo,jdbcType=VARCHAR},
      </if>
      <if test="alarmNo != null " >
        ALARM_NO = #{alarmNo,jdbcType=VARCHAR},
      </if>
      <if test="caseTitle != null " >
        CASE_TITLE = #{caseTitle,jdbcType=VARCHAR},
      </if>
      <if test="caseState != null " >
        CASE_STATE = #{caseState,jdbcType=INTEGER},
      </if>
      <if test="caseClass != null " >
        CASE_CLASS = #{caseClass,jdbcType=INTEGER},
      </if>
      <if test="caseSource != null " >
        CASE_SOURCE = #{caseSource,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null " >
        SOURCE_TYPE = #{sourceType},
      </if>
      <if test="caseRemarks != null " >
        CASE_REMARKS = #{caseRemarks,jdbcType=VARCHAR},
      </if>
      <if test="detalAddress != null " >
        DETAL_ADDRESS = #{detalAddress,jdbcType=VARCHAR},
      </if>
      <if test="happenTimeUp != null" >
        HAPPEN_TIME_UP =
        <if test="happenTimeUp != ''" >
          #{happenTimeUp},
        </if>
        <if test="happenTimeUp == ''" >
          null,
        </if>
      </if>
      <if test="happenTimeDown != null" >
        HAPPEN_TIME_DOWN =
        <if test="happenTimeDown != ''" >
          #{happenTimeDown},
        </if>
        <if test="happenTimeDown == ''" >
          null,
        </if>
      </if>
      <if test="zoneCode != null" >
        ZONE_CODE = #{zoneCode,jdbcType=VARCHAR},
      </if>
      <if test="zoneName != null" >
        ZONE_NAME = #{zoneName,jdbcType=VARCHAR},
      </if>
      <if test="acceptUnitCode != null" >
        ACCEPT_UNIT_CODE = #{acceptUnitCode,jdbcType=VARCHAR},
      </if>
      <if test="acceptUnitName != null" >
        ACCEPT_UNIT_NAME = #{acceptUnitName,jdbcType=VARCHAR},
      </if>
      <if test="acceptTime != null" >
        ACCEPT_TIME =
        <if test="acceptTime != ''" >
          #{acceptTime},
        </if>
        <if test="acceptTime == ''" >
          null,
        </if>
      </if>
      <if test="hostUnitCode != null" >
        HOST_UNIT_CODE = #{hostUnitCode,jdbcType=VARCHAR},
      </if>
      <if test="hostUnitName != null" >
        HOST_UNIT_NAME = #{hostUnitName,jdbcType=VARCHAR},
      </if>
      <if test="sponsorCode != null" >
        SPONSOR_CODE = #{sponsorCode,jdbcType=VARCHAR},
      </if>
      <if test="sponsorName != null" >
        SPONSOR_NAME = #{sponsorName,jdbcType=VARCHAR},
      </if>
      <if test="sponsorPhone != null" >
        SPONSOR_PHONE = #{sponsorPhone,jdbcType=VARCHAR},
      </if>
      <if test="assistUnitCode != null" >
        ASSIST_UNIT_CODE = #{assistUnitCode,jdbcType=VARCHAR},
      </if>
      <if test="assistUnitName != null" >
        ASSIST_UNIT_NAME = #{assistUnitName,jdbcType=VARCHAR},
      </if>
      <if test="assistantCode != null" >
        ASSISTANT_CODE = #{assistantCode,jdbcType=VARCHAR},
      </if>
      <if test="assistantName != null" >
        ASSISTANT_NAME = #{assistantName,jdbcType=VARCHAR},
      </if>
      <if test="assistantPhone != null" >
        ASSISTANT_PHONE = #{assistantPhone,jdbcType=VARCHAR},
      </if>
      <if test="inputUnitCode != null" >
        INPUT_UNIT_CODE = #{inputUnitCode,jdbcType=VARCHAR},
      </if>
      <if test="inputUnitName != null" >
        INPUT_UNIT_NAME = #{inputUnitName,jdbcType=VARCHAR},
      </if>
      <if test="inputerCode != null" >
        INPUTER_CODE = #{inputerCode,jdbcType=VARCHAR},
      </if>
      <if test="inputerName != null" >
        INPUTER_NAME = #{inputerName,jdbcType=VARCHAR},
      </if>
      <if test="isFollow != null " >
        IS_FOLLOW = #{isFollow,jdbcType=INTEGER},
      </if>
      <if test="isApproval != null " >
        IS_APPROVAL = #{isApproval,jdbcType=INTEGER},
      </if>
      <if test="isArchive != null " >
        IS_ARCHIVE = #{isArchive,jdbcType=INTEGER},
      </if>
      <if test="archiveDesc != null" >
        ARCHIVE_DESC = #{archiveDesc,jdbcType=VARCHAR},
      </if>
      <if test="isAbandon != null " >
        IS_ABANDON = #{isAbandon,jdbcType=INTEGER},
      </if>
      <if test="abandonDesc != null" >
        ABANDON_DESC = #{abandonDesc,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null " >
        CREAT_TIME = #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null " >
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reserveA != null " >
        RESERVE_A = #{reserveA,jdbcType=VARCHAR},
      </if>
      <if test="reserveB != null" >
        RESERVE_B = #{reserveB,jdbcType=VARCHAR},
      </if>
      <if test="reserveA != null" >
        RESERVE_C = #{reserveA,jdbcType=VARCHAR},
      </if>
      <if test="reserveB != null" >
        RESERVE_D = #{reserveB,jdbcType=VARCHAR},
      </if>
      <if test="caseDesc != null" >
        CASE_DESC = #{caseDesc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <!--案件状态修改-->
  <update id="updateByPrimaryKey" parameterType="com.entity.caseInfo.EtCase">
    update et_case
    <set >
      <if test="caseNo != null and caseNo !=''" >
        CASE_NO = #{caseNo,jdbcType=VARCHAR},
      </if>
      <if test="alarmNo != null and alarmNo !=''" >
        ALARM_NO = #{alarmNo,jdbcType=VARCHAR},
      </if>
      <if test="caseTitle != null and caseTitle !=''" >
        CASE_TITLE = #{caseTitle,jdbcType=VARCHAR},
      </if>
      <if test="caseState != null and caseState !=''" >
        CASE_STATE = #{caseState,jdbcType=INTEGER},
      </if>
      <if test="caseClass != null and caseClass !=''" >
        CASE_CLASS = #{caseClass,jdbcType=INTEGER},
      </if>
      <if test="caseSource != null and caseSource !=''" >
        CASE_SOURCE = #{caseSource,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null " >
        SOURCE_TYPE = #{sourceType},
      </if>
      <if test="caseRemarks != null and caseRemarks !=''" >
        CASE_REMARKS = #{caseRemarks,jdbcType=VARCHAR},
      </if>
      <if test="detalAddress != null and detalAddress !=''" >
        DETAL_ADDRESS = #{detalAddress,jdbcType=VARCHAR},
      </if>
      <if test="happenTimeUp != null and happenTimeUp !=''" >
        HAPPEN_TIME_UP = #{happenTimeUp},
      </if>
      <if test="happenTimeDown != null and happenTimeDown !=''" >
        HAPPEN_TIME_DOWN = #{happenTimeDown},
      </if>
      <if test="zoneCode != null and zoneCode !=''" >
        ZONE_CODE = #{zoneCode,jdbcType=VARCHAR},
      </if>
      <if test="zoneName != null and zoneName !=''" >
        ZONE_NAME = #{zoneName,jdbcType=VARCHAR},
      </if>
      <if test="acceptUnitCode != null and acceptUnitCode !=''" >
        ACCEPT_UNIT_CODE = #{acceptUnitCode,jdbcType=VARCHAR},
      </if>
      <if test="acceptUnitName != null and acceptUnitName !=''" >
        ACCEPT_UNIT_NAME = #{acceptUnitName,jdbcType=VARCHAR},
      </if>
      <if test="acceptTime != null and acceptTime !=''" >
        ACCEPT_TIME = #{acceptTime},
      </if>
      <if test="hostUnitCode != null and hostUnitCode !=''" >
        HOST_UNIT_CODE = #{hostUnitCode,jdbcType=VARCHAR},
      </if>
      <if test="hostUnitName != null and hostUnitName !=''" >
        HOST_UNIT_NAME = #{hostUnitName,jdbcType=VARCHAR},
      </if>
      <if test="sponsorCode != null and sponsorCode !=''" >
        SPONSOR_CODE = #{sponsorCode,jdbcType=VARCHAR},
      </if>
      <if test="sponsorName != null and sponsorName !=''" >
        SPONSOR_NAME = #{sponsorName,jdbcType=VARCHAR},
      </if>
      <if test="sponsorPhone != null and sponsorPhone !=''" >
        SPONSOR_PHONE = #{sponsorPhone,jdbcType=VARCHAR},
      </if>
      <if test="assistUnitCode != null and assistUnitCode !=''" >
        ASSIST_UNIT_CODE = #{assistUnitCode,jdbcType=VARCHAR},
      </if>
      <if test="assistUnitName != null and assistUnitName !=''" >
        ASSIST_UNIT_NAME = #{assistUnitName,jdbcType=VARCHAR},
      </if>
      <if test="assistantCode != null and assistantCode !=''" >
        ASSISTANT_CODE = #{assistantCode,jdbcType=VARCHAR},
      </if>
      <if test="assistantName != null and assistantName !=''" >
        ASSISTANT_NAME = #{assistantName,jdbcType=VARCHAR},
      </if>
      <if test="assistantPhone != null and assistantPhone !=''" >
        ASSISTANT_PHONE = #{assistantPhone,jdbcType=VARCHAR},
      </if>
      <if test="inputUnitCode != null and inputUnitCode !=''" >
        INPUT_UNIT_CODE = #{inputUnitCode,jdbcType=VARCHAR},
      </if>
      <if test="inputUnitName != null and inputUnitName !=''" >
        INPUT_UNIT_NAME = #{inputUnitName,jdbcType=VARCHAR},
      </if>
      <if test="inputerCode != null and inputerCode !=''" >
        INPUTER_CODE = #{inputerCode,jdbcType=VARCHAR},
      </if>
      <if test="inputerName != null and inputerName !=''" >
        INPUTER_NAME = #{inputerName,jdbcType=VARCHAR},
      </if>
      <if test="isFollow != null " >
        IS_FOLLOW = #{isFollow,jdbcType=INTEGER},
      </if>
      <if test="isApproval != null " >
        IS_APPROVAL = #{isApproval,jdbcType=INTEGER},
      </if>
      <if test="isArchive != null " >
        IS_ARCHIVE = #{isArchive,jdbcType=INTEGER},
      </if>
      <if test="archiveDesc != null and archiveDesc !=''" >
        ARCHIVE_DESC = #{archiveDesc,jdbcType=VARCHAR},
      </if>
      <if test="isAbandon != null " >
        IS_ABANDON = #{isAbandon,jdbcType=INTEGER},
      </if>
      <if test="abandonDesc != null and abandonDesc !=''" >
        ABANDON_DESC = #{abandonDesc,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null " >
        CREAT_TIME = #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null " >
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reserveA != null and reserveA !=''" >
        RESERVE_A = #{reserveA,jdbcType=VARCHAR},
      </if>
      <if test="reserveB != null and reserveB !=''" >
        RESERVE_B = #{reserveB,jdbcType=VARCHAR},
      </if>
      <if test="reserveA != null and reserveA !=''" >
        RESERVE_C = #{reserveA,jdbcType=VARCHAR},
      </if>
      <if test="reserveB != null and reserveB !=''" >
        RESERVE_D = #{reserveB,jdbcType=VARCHAR},
      </if>
      <if test="caseDesc != null and caseDesc !=''" >
        CASE_DESC = #{caseDesc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <!--案件列表字段-->
  <sql id="findCase_List">
    c.ID,
    c.CASE_NO,<!--案件编号-->
    c.CASE_TITLE,<!--案件名称-->
    c.HAPPEN_TIME_UP,<!--发案时间-->
    c.CASE_SOURCE,<!--案件来源-->
    c.CASE_CLASS,<!--案件类别-->
    c.CASE_STATE,<!--案件状态-->
    c.ACCEPT_UNIT_CODE,<!--受理单位编码-->
    c.ACCEPT_UNIT_NAME,<!--受理单位名称-->
    c.INPUTER_CODE,<!--录入人编码-->
    c.INPUTER_NAME,<!--录入人姓名-->
    c.INPUT_UNIT_CODE,<!--录入单位编码-->
    c.INPUT_UNIT_NAME,<!--录入单位名称-->
    c.ZONE_CODE,<!--所属区划编码-->
    c.ZONE_NAME,<!--所属区划名称-->
    c.CREAT_TIME,<!--案件录入时间-->
    c.IS_FOLLOW,<!--关注标识-->
    c.IS_ARCHIVE,<!--归档标识-->
    c.SOURCE_TYPE<!--数据来源-->
  </sql>
  <!--涉案列表列表字段-->
  <sql id="find_Suspect_List">
    c.ID,
    c.CASE_NO,<!--案件编号-->
    c.CASE_TITLE,<!--案件名称-->
    c.HAPPEN_TIME_UP,<!--发案时间-->
    c.CASE_SOURCE,<!--案件来源-->
    c.CASE_CLASS,<!--案件类别-->
    c.CASE_STATE,<!--案件状态-->
    c.ACCEPT_UNIT_CODE,<!--受理单位编码-->
    c.ACCEPT_UNIT_NAME,<!--受理单位名称-->
    c.INPUTER_CODE,<!--录入人编码-->
    c.INPUTER_NAME,<!--录入人姓名-->
    c.INPUT_UNIT_CODE,<!--录入单位编码-->
    c.INPUT_UNIT_NAME,<!--录入单位名称-->
    c.ZONE_CODE,<!--所属区划编码-->
    c.ZONE_NAME,<!--所属区划名称-->
    c.CREAT_TIME,<!--案件录入时间-->
    c.IS_FOLLOW,<!--关注标识-->
    c.IS_ARCHIVE,<!--归档标识-->
    c.SOURCE_TYPE,<!--数据来源-->
    rl.LABEL,<!-- 标记标识 -->
    rl.RELATION<!-- 人工确认标志 -->
  </sql>

  <!--查询案件列表-->
  <select id="findCase" parameterType="com.entity.caseInfo.EtCase" resultMap="ResultMapWithBLOBs">
    SELECT	c.*	FROM (select 
    <include refid="com.mapper.communal.SysLogMapper.DECE_SIGNS_COLUMN" />
    ec.* FROM et_case ec LEFT JOIN sys_user su on su.id = ec.INPUTER_CODE ) c
    WHERE  1=1
    <!--主键-->
    <if test="id != null and id !=''" >
      AND c.id in (${id})
    </if>
    <!--审批标识-->
    <if test="isApproval != null " >
      AND c.IS_APPROVAL=#{isApproval}
    </if>
    <!--删除标识-->
    <if test="isAbandon != null " >
      AND c.IS_ABANDON=#{isAbandon}
    </if>
    <!--归档标识-->
    <if test="isArchive != null " >
      AND c.IS_ARCHIVE=#{isArchive}
    </if>
    <!--关注标识-->
    <if test="isFollow != null " >
      AND c.IS_FOLLOW=#{isFollow}
    </if>
    <!--案件编号-->
    <if test="caseNo != null and caseNo !=''" >
      AND c.CASE_NO LIKE '${caseNo}%'
    </if>
    <if test="caseNos != null and caseNos !=''" >
      AND c.CASE_NO in (${caseNos})
    </if>
    <!--分权分域标识-->
    <if test="deceSigns != null and deceSigns !=''" >
      <!--modify on 180206 增加用户类型判断，以0,0,0,开头为派出所用户-->
      <choose>
        <when test="deceSigns.indexOf('0,0,0,') == 0">
          AND c.dece_signs LIKE '${deceSigns}%'
        </when>
        <otherwise>
          AND (c.dece_signs LIKE '${deceSigns}%' or c.dece_signs LIKE '0,0,0,%')
        </otherwise>
      </choose>
    </if>
    <!--案件类型-->
    <if test="caseClass != null and caseClass !=''" >
      AND c.CASE_CLASS = #{caseClass}
    </if>
    <!--案件状态-->
    <if test="caseState != null and caseState !=0" >
      AND c.CASE_STATE = #{caseState}
    </if>
    <!--案件名称-->
    <if test="caseTitle != null and caseTitle !=''" >
      AND c.CASE_TITLE LIKE '${caseTitle}%'
    </if>
    <!--发案时间-->
    <if test="happenTimeUp != null and happenTimeUp !=''" >
      AND c.HAPPEN_TIME_UP &gt;= #{happenTimeUp}
    </if>
    <!--发案时间-->
    <if test="happenTimeDown != null and happenTimeDown !=''" >
      AND c.HAPPEN_TIME_DOWN &lt;= #{happenTimeDown}
    </if>
    <!--登记时间-->
    <if test="startTime != null and startTime != '' " >
      AND c.CREAT_TIME &gt;= #{startTime}
    </if>
    <!--登记时间-->
    <if test="endTime != null and endTime != '' " >
      AND c.CREAT_TIME &lt;= #{endTime}
    </if>
    <!--案件受理单位-->
    <if test="acceptUnitCode != null and acceptUnitCode !=''" >
      AND c.ACCEPT_UNIT_CODE = #{acceptUnitCode}
    </if>
    <!--案件主办单位-->
    <if test="hostUnitCode != null and hostUnitCode !=''" >
      AND c.HOST_UNIT_CODE = #{hostUnitCode}
    </if>
    <!--案件录入人-->
    <if test="inputerName != null and inputerName !=''" >
      AND c.INPUTER_NAME LIKE '${inputerName}%'
    </if>
    <!--案件录入单位-->
    <if test="inputUnitCode != null and inputUnitCode !=''" >
      AND c.INPUT_UNIT_CODE = #{inputUnitCode}
    </if>
    <!--区域规划-->
    <if test="zoneCode != null and zoneCode !=''" >
      AND c.ZONE_CODE = #{zoneCode}
    </if>
    ORDER BY c.CREAT_TIME DESC
  </select>
  <!--通过人员查询案件列表-->
  <select id="findCaseAndApStaffOpen" parameterType="com.entity.caseInfo.EtCase" resultMap="ResultMapWithBLOBs">
    select
    <include refid="find_Suspect_List" />
    from et_case c
    LEFT JOIN ap_scarela sc ON c.ID=sc.CASE_NO
    LEFT JOIN ap_staff s ON sc.STAFF_ID=s.STAFF_ID
    LEFT JOIN RL_SUSPECT_CASE rl ON rl.CASE_ID=c.ID
    WHERE  1=1
    <!-- AND  s.SUSPECT_CLASS='1000'  -->
    <!--案件录入单位-->
    <if test="inputUnitCode != null and inputUnitCode !=''" >
      AND (c.INPUT_UNIT_CODE=#{inputUnitCode} OR (SELECT PARENT_ID FROM dic_unit WHERE ID=c.INPUT_UNIT_CODE)=#{inputUnitCode})
    </if>

    <!--案件嫌疑人姓名匹配查询-->
    <if test="suspectName != null and suspectName !=''" >
      AND s.NAME = #{suspectName}
    </if>
    <!--身份证号匹配查询-->
    <if test="suspectIDCardNo != null and suspectIDCardNo !=''" >
      AND s.IDCARD_NUM = #{suspectIDCardNo}
    </if>
    <!--手机号匹配查询-->
    <if test="suspectPhoneNum != null and suspectPhoneNum !=''" >
      AND s.PHONE_NUM = #{suspectPhoneNum}
    </if>
    <!--管控单位-->
    <if test="manaUnitCode != null and manaUnitCode !=''" >
      AND s.ENTRY_UNIT = #{manaUnitCode}
    </if>
    <!--人工确认标记标识-->
    <if test="relation != null" >
      AND c.ID IN  (SELECT CASE_ID FROM RL_SUSPECT_CASE WHERE RELATION =1 )
    </if>
    <!--标记标识-->
    <!-- <if test="lable != null" >
      AND rl.LABLE = #{lable}
    </if> -->
    GROUP BY c.ID
    ORDER BY c.CREAT_TIME DESC
  </select>
  <select id="findCaseAndApStaffClose" parameterType="com.entity.caseInfo.EtCase" resultMap="ResultMapWithBLOBs">
    select
    <include refid="find_Suspect_List" />
    from et_case c
    LEFT JOIN ap_scarela sc ON c.ID=sc.CASE_NO
    LEFT JOIN ap_staff s ON sc.STAFF_ID=s.STAFF_ID LEFT JOIN RL_SUSPECT_CASE rl ON rl.CASE_ID=c.ID
    WHERE  1=1
    <!--  AND  s.SUSPECT_CLASS='1000' -->
    <!--案件录入单位-->
    <if test="inputUnitCode != null and inputUnitCode !=''" >
      AND (c.INPUT_UNIT_CODE=#{inputUnitCode} OR (SELECT PARENT_ID FROM dic_unit WHERE ID=c.INPUT_UNIT_CODE)=#{inputUnitCode})
    </if>

    <!--案件嫌疑人姓名匹配查询-->
    <if test="suspectName != null and suspectName !=''" >
      AND s.NAME = #{suspectName}
    </if>
    <!--身份证号匹配查询-->
    <if test="suspectIDCardNo != null and suspectIDCardNo !=''" >
      AND s.IDCARD_NUM = #{suspectIDCardNo}
    </if>
    <!--手机号匹配查询-->
    <if test="suspectPhoneNum != null and suspectPhoneNum !=''" >
      AND s.PHONE_NUM = #{suspectPhoneNum}
    </if>
    <!--管控单位-->
    <if test="manaUnitCode != null and manaUnitCode !=''" >
      AND s.ENTRY_UNIT = #{manaUnitCode}
    </if>
    <!--人工确认标记标识-->
    <if test="relation != null" >
      AND c.ID IN  (SELECT CASE_ID FROM RL_SUSPECT_CASE WHERE RELATION =0 )
    </if>
    <!--标记标识-->
    <if test="lable != null" >
      AND rl.LABLE = #{lable}
    </if>
    GROUP BY c.ID
    ORDER BY c.CREAT_TIME DESC
  </select>
  <select id="findCaseForSearch" parameterType="java.util.List" resultMap="ResultMapWithBLOBs">
    select
    <include refid="findCase_List" />
    from et_case c
    WHERE  1=1
    AND C.ID IN
    <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
    GROUP BY c.ID
    ORDER BY c.CREAT_TIME DESC
  </select>
  <!--(SELECT DIC_DES FROM dic_common WHERE DIC_CODE=CASE_STATE) CASE_STATE_NAME,
      (SELECT DIC_DES FROM dic_common WHERE DIC_CODE=CASE_CLASS) CASE_CLASS_NAME,
      (SELECT DIC_DES FROM dic_common WHERE DIC_CODE=CASE_SOURCE) CASE_SOURCE_NAME,-->
  <sql id="Base_Column_List" >
    ID,CASE_NO, ALARM_NO, CASE_TITLE,CASE_STATE,CASE_CLASS,CASE_SOURCE,
    SOURCE_TYPE, CASE_REMARKS, DETAL_ADDRESS, HAPPEN_TIME_UP, HAPPEN_TIME_DOWN,
    ZONE_CODE, ZONE_NAME, ACCEPT_UNIT_CODE, ACCEPT_UNIT_NAME, ACCEPT_TIME, HOST_UNIT_CODE,
    HOST_UNIT_NAME, SPONSOR_CODE, SPONSOR_NAME, SPONSOR_PHONE, ASSIST_UNIT_CODE, ASSIST_UNIT_NAME,
    ASSISTANT_CODE, ASSISTANT_NAME, ASSISTANT_PHONE, INPUT_UNIT_CODE, INPUT_UNIT_NAME, INPUTER_CODE,
    INPUTER_NAME, IS_FOLLOW, IS_APPROVAL, IS_ARCHIVE, ARCHIVE_DESC, IS_ABANDON, ABANDON_DESC, CREAT_TIME, MODIFY_TIME
  </sql>
  <sql id="Blob_Column_List" >
    CASE_DESC
  </sql>
  <!--根据ID案件查询-->
  <select id="findCaseById" resultMap="ResultMapWithBLOBs" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from et_case
    <if test="id != null and id !=''" >
      where ID = #{id,jdbcType=VARCHAR}
    </if>
    <if test="caseNo != null and caseNo !=''" >
      where CASE_NO = #{caseNo,jdbcType=VARCHAR}
    </if>

  </select>
  <!--案件串并-->
  <sql id="Case_List" >
    c.id as caseId,
    CASE_CLASS
  </sql>
  <sql id="ApStaff_List" >
    s.IDCARD_NUM
  </sql>
  <select id="caseSeries" resultType="com.entity.caseInfo.CaseSeries" parameterType="com.entity.caseInfo.CaseSeries" >

    <if test="oneLevel != null and oneLevel !='' " >
      <!--一级串并-->
      <if test="twoLevel==null or twoLevel==''" >
        SELECT '${mode}' as mode, tab1.number,tab1.${oneLevel} as value ,tab1.caseId
        FROM(
        SELECT COUNT(1) number ,tab.${oneLevel},GROUP_CONCAT(tab.caseId) caseId
        FROM(
        SELECT
        <include refid="Case_List"/>,
        <include refid="ApStaff_List"/>
        FROM
        et_case c
        LEFT JOIN ap_scarela a ON c.ID = a.CASE_NO
        LEFT JOIN ap_staff s ON s.STAFF_ID = a.STAFF_ID
        <if test="accept_start_time != null and accept_start_time !=''" >
          AND c.ACCEPT_TIME &gt;=#{accept_start_time}
        </if>
        <if test="accept_end_time != null and accept_end_time !=''" >
          AND c.ACCEPT_TIME &lt;=#{accept_end_time}
        </if>
        <if test="oneLevelValue != null and oneLevelValue !=''" >
          ${oneLevelValue}
        </if>
        GROUP BY c.ID
        ) tab GROUP BY tab.${oneLevel}
        ) tab1 WHERE tab1.number>1
      </if>
      <!--二级串并-->
      <if test="twoLevel!=null and twoLevel!=''" >
        SELECT '1' as twoLevel,'${mode}' as mode, tab1.number,tab1.${twoLevel} as value ,tab1.caseId
        FROM(
        SELECT COUNT(1) number ,tab.${twoLevel},GROUP_CONCAT(tab.caseId) caseId
        FROM(
        SELECT
        <include refid="Case_List" />,
        <include refid="ApStaff_List" />
        /*FROM et_case c LEFT JOIN ap_staff s ON c.ID=s.RELATION_NO*/
        FROM
        et_case c ,
        ap_scarela a,
        ap_staff s
        WHERE 1=1
        and c.ID = a.CASE_NO
        AND s.STAFF_ID = a.STAFF_ID
        <if test="accept_start_time != null and accept_start_time !=''" >
          AND c.ACCEPT_TIME &gt;=#{accept_start_time}
        </if>
        <if test="accept_end_time != null and accept_end_time !=''" >
          AND c.ACCEPT_TIME &lt;=#{accept_end_time}
        </if>
        <if test="oneLevelValue != null and oneLevelValue !=''" >
          ${oneLevelValue}
        </if>
        <if test="twoLevelValue != null and twoLevelValue !=''" >
          ${twoLevelValue}
        </if>
        GROUP BY c.ID
        ) tab GROUP BY tab.${twoLevel}
        ) tab1 WHERE tab1.number>1
      </if>
    </if>
  </select>

  <select id="selectMaxCreateTime" resultType="java.sql.Timestamp">
    select max(t.CREAT_TIME) from et_case t;
  </select>
  <select id="selectMaxUpdateTime" resultType="java.sql.Timestamp">
    select max(t.MODIFY_TIME) from et_case t;
  </select>

  <!--把新录入的案件插入案件重点人员关系表-->
  <insert id="insertToApScarela" parameterType="com.entity.caseInfo.ApScarela">
		INSERT INTO ap_scarela
		(ID,
		CASE_NO,
		STAFF_ID,
		CREAT_TIME
		)
		VALUES
		(#{id},
		#{caseNo},
		#{staffId},
		now()
		)
	</insert>

  <!--删除案件插入案件重点人员关系表-->
  <delete id="deleteApScarela" parameterType="java.lang.String">
    delete from ap_scarela
    where STAFF_ID = (SELECT STAFF_ID FROM ap_staff WHERE ID=#{id,jdbcType=VARCHAR})
  </delete>

  <delete id="deleteApAcarelaByCaseId" parameterType="java.lang.String" >
	    delete from ap_scarela
	    where CASE_NO = #{id,jdbcType=VARCHAR}
	</delete>
</mapper>