<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>任务下发</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <!-- basic styles -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="../assets/css/ace.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/jquery.dataTables.min.css" />
    <script src="../assets/js/jquery-2.0.3.min.js"></script>
    <script src="../js/jquery.dataTables.min.js"></script>
    <script src="../assets/js/datepicker/WdatePicker.js"></script>
    <script src="../assets/js/ace-extra.min.js"></script>


    <script src="../js/common.js"></script>
    <script src="../js/format.js"></script>
    <link rel="stylesheet" href="../css/case.css" />
    <link rel="stylesheet" href="../css/report.css" />
    <link rel="stylesheet" href="../css/commonStyle.css" />
    <style>
        .caseText{
            /*height: 30px;*/
            border: 1px solid #D1E1FF;
            border-top: none;
            border-left: none;
            border-bottom: none;
            background-color: white;
            min-height: 30px;
            line-height: 30px;
            padding: 0;
            text-align: left;
            color: #0A5CA0 !important;
        }
        .remark{
            margin-top: 2%;
        }
        .caseInput input, .caseInput select {
            width: 96%;
            height: 80%;
            margin-top: 0px;
            margin-left: 4px;
            border: 1px solid #D1E1FF;
        }
    </style>
</head>
<body id="body">
<div class="main-container" id="main-container">
    <div class="main-container-inner">
        <!-- 右侧部分 -->
        <div style="width: 100%;height: 100%;margin: 0 auto;background: white">
            <div class="page-content">
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="message">
                        <!--查询条件-->
                        <div class="row-container searchAll search-condition">
                            <!--行政区划-->
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4 searchTitle borderLnone">
                                        <p>
                                          案发地点:
                                        </p>
                                    </div>
                                    <div class="col-md-8 searchCon">
                                        <input class="form-control" type="text" id="afdd">
                                    </div>
                                </div>
                            </div>
                            <!--受理单位-->
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4 searchTitle">
                                        <p>
                                            主办单位:
                                        </p>
                                    </div>
                                    <div class="col-md-8 searchCon">
                                        <select  class="form-control" id="zbdw">
                                            <option value ="">--请选择--</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <!--案警发生时间-->
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4 searchTitle borderLnone">
                                        <p>
                                            案警发生时间:
                                        </p>
                                    </div>
                                    <div class="col-md-8 no-padding">
                                        <div class="col-md-3 searchCon " style="width: 45%">
                                            <input type="text" id="bjsjStart" class="form-control"  onfocus="WdatePicker({dateFmt: 'yyyy-MM-dd', maxDate: '%y-%M-%d'}); ">
                                        </div>
                                        <div class="col-md-2 searchCon" style="text-align: center;width: 10%">
                                            <span style="display: block;height: 25px;line-height: 25px"> 至 </span>
                                        </div>
                                        <div class="col-md-3 searchCon" style="width: 45%">
                                            <input type="text" id="bjsjEnd" class="form-control"  onfocus="WdatePicker({dateFmt: 'yyyy-MM-dd', maxDate: '%y-%M-%d'}); ">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--下发时间-->
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4 searchTitle">
                                        <p>
                                            下发时间:
                                        </p>
                                    </div>
                                    <div class="col-md-8 no-padding">
                                        <div class="col-md-3 searchCon " style="width: 45%">
                                            <input type="text" id="xfsjStart" class="form-control"  onfocus="WdatePicker({dateFmt: 'yyyy-MM-dd', maxDate: '%y-%M-%d'}); ">
                                        </div>
                                        <div class="col-md-2 searchCon" style="text-align: center;width: 10%">
                                            <span style="display: block;height: 25px;line-height: 25px"> 至 </span>
                                        </div>
                                        <div class="col-md-3 searchCon" style="width: 45%">
                                            <input type="text" id="xfsjEnd" class="form-control"  onfocus="WdatePicker({dateFmt: 'yyyy-MM-dd', maxDate: '%y-%M-%d'}); ">
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!--流转状态-->
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2 searchTitle borderBnone borderLnone">
                                        <p>
                                            流转状态:
                                        </p>
                                    </div>
                                    <div class="col-md-8  borderBnone rightBorder" style="height: 34px;line-height: 34px">
                                        <div class="col-md-2">
                                            <input type='checkbox' id="fsDSH" name="" value="5000"/>&nbsp;&nbsp;待审核
                                        </div>
                                        <div class="col-md-2">
                                            <input type='checkbox' id="fsSHTG" name="" value="5001"/>&nbsp;&nbsp;审核通过
                                        </div>
                                        <div class="col-md-2">
                                            <input type='checkbox' id="fsYXF" name="" value="5003"/>&nbsp;&nbsp;待签收
                                        </div>
                                        <div class="col-md-2">
                                            <input type='checkbox' id="fsJJQS" name="" value="5005"/>&nbsp;&nbsp;拒绝签收
                                        </div>
                                        <div class="col-md-2">
                                            <input type='checkbox' id="fsYQS" name="" value="5004"/>&nbsp;&nbsp;已签收
                                        </div>
                                        <div class="col-md-2">
                                            <input type='checkbox' id="fsYYP" name="" value="5006"/>&nbsp;&nbsp;已研判
                                        </div>
                                    </div>
                                    <div class="col-md-2  borderBnone" style="height: 34px;line-height: 34px">
                                        <input type='checkbox' id="fsSHWTG" name="" value="5002"/>&nbsp;&nbsp;审核未通过
                                    </div>
                                </div>
                            </div>

                            <!--按钮-->
                            <div class="col-md-12 searchBtn" >
                                <div class="row">
                                    <div class="col-md-12 ">
                                        <button class="btn btn-primary" type="button" onclick="search()"> 查询 </button>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <button class="btn btn-primary" type="button" onclick="reset()"> 重置 </button>
                                        <!--<button class="btn btn-primary" type="button" onclick="judgeSendFun();"> 下发 </button>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wt100">
                            <table id="dynamic-table" class="cell-border table table-striped table-bordered table-hover dataTable"  cellspacing="0" width="100%">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--审核弹框-->
    <div class="row hide" id="pass">
        <input id="judgeId" type="hidden"><!--案警任务id-->
        <div>
            <!--备注-->
            <div class="breadcrumbs bottomBorder modalBodyContainer">
                <div>
                    <span>审核意见</span>
                </div>
                <div>
                    <textarea id="auditOpinion" class="remarkFrame"></textarea>
                </div>
            </div>
            <!--审核按钮-->
            <div class="no-padding">
                <div class="searchBtn" style="border: none; padding: 6px 0 6px 0">
                    <button class="btn btn-primary" style="margin-right: 30px" onclick="auditPass('审核通过',1);">
                        审核通过
                    </button>
                    <button class="btn btn-primary" onclick="noAuditPass('审核不通过',2);">审核不通过</button>
                </div>
            </div>
        </div>
    </div>


    <!--下发弹框-->
    <div class="row hide" id="issue">
        <div>
            <!--模态框内容-->
            <div class="breadcrumbs bottomBorder modalBodyContainer">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-2 caseTxt">
                            <span class="notNull">* </span>
                            <span>下发单位</span>
                        </div>
                        <div class="col-md-10 caseInput bottomBorder topBorder">
                            <select id="issuedUnit" name="issuedUnit">
                                <option value="">--- 请选择 ---</option>
                            </select>
                        </div>
                    </div>
                   <!-- <div class="col-md-12 remark">
                        <div class="col-md-2 caseTxt borderRnone">
                            <span>备注</span>
                        </div>
                        <div class="col-md-10 caseText borderRnone">
                            <textarea class="remarkFrame" id="issued"></textarea>
                        </div>
                    </div>-->
                </div>
            </div>
            <!--模态框按钮-->
            <div class="no-padding">
                <div class="searchBtn" style="border: none; padding: 6px 0 6px 0">
                    <button class="btn btn-primary" style="margin-right: 30px" onclick="auditPassXiaFa('下发成功',iiMark2);">
                        下发
                    </button>
                    <button class="btn btn-primary" onclick="noAuditPass('取消下发',iiMark2);">取消</button>
                </div>
            </div>
        </div>
    </div>


</div>
<!-- basic scripts -->
<!-- <![endif]-->
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/typeahead-bs2.min.js"></script>

<!-- ace scripts -->
<script src="../assets/js/ace-elements.min.js"></script>
<script src="../assets/js/ace.min.js"></script>
<!-- page specific plugin scripts -->

<script src="../assets/js/jquery.dataTables.min.js"></script>
<script src="../assets/js/jquery.dataTables.bootstrap.js"></script>

<!-- inline scripts related to this page -->
<script src="../assets/js/layer/layer.js"></script>

<script>
    var dynamictable;
    $(document).ready(function() {
        menuThing();
        reset();
        dynamictableSearch();
        selectDicUnit("zbdw");
 	   //selectDicCommon(20,"alarmClass");
        findCurSysUserUnitCode(function(){
//            findSysUnit(curSysUserUnitCode);
        })
    });

    //列表部分
    function dynamictableSearch() {
    	var flowStateStr=findFlowStateChecked();
        $("#dynamic-table_filter").css('display', 'block');
        dynamictable = $("#dynamic-table").DataTable(
            {
                "bLengthChange" : false, /* 去掉每页显示多少条数据方法 */
                "processing" : true,/*控制是否在数据加载时出现”Processing”的提示,一般在远程加载并且比较慢的情况下才会出现. 样式需要定义,否则比较丑.*/
                "pageLength" : 10,/*默认*/
                "lengthMenu" : [ [ 5, 10, 20, -1 ],
                    [ 5, 10, 20, "全部" ] ],
                /*"deferRender": true,*/
                "searching" : true,/*控制控件的搜索功能,如果为false,控件的搜索功能被完全禁用,而且默认搜索组件会被隐藏.*/
                "serverSide" : true,/* 启用服务器端分页,当设为true时,列表的过滤,搜索和排序信息会传递到Server端进行处理,实现真翻页方案的必需属性.反之,所有的列表功能都在客户端计算并执行*/
                "autoWidth" : false,/*用来启用或禁用自动列的宽度计算。通常被禁用作为优化（它需要一个有限的时间量来计算的宽度），默认值是true，所以通常将它设为false*/
                /*  "order": [   //表示先对第1列进行升序排序，再按照第二列升序排序，最后按照第三列降序排序
                 [0, "desc"]
                 ], */
                //因为需要多次初始化，所以需要设置允许销毁实例
                "destroy" : true,
                "bFilter" : false,
                "orderMulti" : false, //启用多列排序
                "order" : [], //取消默认排序查询,否则复选框一列会出现小箭头
                /* "pagingType": "full_numbers", *///分页样式：simple,simple_numbers,full,full_numbers
                /*   "table-layout":fix, */
                "row-border" : true,
                "oLanguage" : {
                    "sEmptyTable" : "没有记录",
                    "sProcessing" : "处理中，请稍候...",
                    "sLengthMenu" : "每页显示 _MENU_ 条记录",
                    "sZeroRecords" : "没有记录",
                    "sInfo" : " _START_ 到  _END_ 条记录,总记录数为 _TOTAL_ 条",
                    "sInfoEmpty" : "记录数为0",
                    "sInfoFiltered" : "(从全部记录数 _MAX_ 条中过滤)",
                    "sInfoPostFix" : "",
                    "sLoadingRecords" : "正在加载中,请稍候...",
                    "sSearch" : "搜索",
                    "sUrl" : "",
                    "oPaginate" : {
                        "sFirst" : "首页",
                        "sPrevious" : "上一页",
                        "sNext" : "下一页",
                        "sLast" : "末页"
                    }
                },
                ajax : {
                    url : getRootPath_web() + "etJudgeflowHan/selectEJFList",
                    "type" : "post",
                    "data":{
                    	afdd : $("#afdd").val(),
                        zbdw : $("#zbdw").val(),
                        bjsjStart : $("#bjsjStart").val(),
                        bjsjEnd : $("#bjsjEnd").val(),
                        xfsjStart : $("#xfsjStart").val(),
                        xfsjEnd : $("#xfsjEnd").val(),
//                        flowState : $("#fsDSH").val()+","+ $("#fsSHTG").val()+","+ $("#fsYXF").val()+","+ $("#fsYQS").val()+","+ $("#fsYYP").val()+","+ $("#fsSHWTG").val()
                        flowState : flowStateStr
                    },
                    async:true
                },
                /*序号自增长*/
                "fnDrawCallback" : function(){
                    this.api().column(0).nodes().each(function(cell, i) {
                        cell.innerHTML =  i + 1;
                    });
                },
                "bDeferRender" : true,/*是否启用延迟加载：当你使用AJAX数据源时，可以提升速度。*/
                "columns": [
                    {"sTitle":'<font>序号</font>','sWidth' :'5%',"sClass" :"dt-left", 'bSortable': false,
                        'render': function(data, type, row, meta) {
                            if(data==""||data==null){
                                return "--";
                            }
                            return data;
                        }},
                    {"sTitle":'<font>任务标题</font>',"sWidth":"20%","sClass":"dt-left", 'data': 'title','bSortable': false,
                        'render': function(data, type, row, meta) {
                            if(data==""||data==null){
                                return "--";
                            }
                            return data;
                        }},
                    {"sTitle":'<font>案发地点</font>',"sWidth":"12%","sClass":"dt-left", 'data': 'afdd','bSortable': false,
                        'render': function(data, type, row, meta) {
                            if(data==""||data==null){
                                return "--";
                            }
                            return data;
                        }},
                    {"sTitle":'<font>案警发生时间</font>',"sWidth":"8%","sClass":"dt-left", 'data': 'afsj','bSortable': false,
                        'render': function(data, type, row, meta) {
                            if(data==""||data==null){
                                return "--";
                            }
                            return Common.dateFormat2(data,"yyyy-MM-dd hh:mm:ss");
                        }},
                    {"sTitle":'<font>主办单位</font>',"sWidth":"12%","sClass":"dt-left", 'data': 'issuedUnit','bSortable': false,
                        'render': function(data, type, row, meta) {
                            if(data==""||data==null){
                                return "--";
                            }
                            return "<span style='width: 150px;display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;'>"+data+"</span>";
                        }},
                    {"sTitle":'<font>下发时间</font>',"sWidth":"8%","sClass":"dt-left", 'data': 'issuedTime','bSortable': false,
                        'render': function(data, type, row, meta) {
                            if(data==""||data==null){
                                return "--";
                            }
                            return Common.dateFormat2(data,"yyyy-MM-dd hh:mm:ss");
                        }},
                    {"sTitle":'<font>流转状态</font>',"sWidth":"10%","sClass":"dt-left", 'data': 'flowStateName','bSortable': false,
                        'render': function(data, type, row, meta) {
                            if(data==""||data==null){
                                return "--";
                            }
                            return data;
                        }},
                ],
                "columnDefs": [{"sTitle":'<font>操作</font>',
                    "sWidth":"15%",
                    "data": "id",
                    "sClass" : "dt-left",//字体居中dt-center
                    'targets': [7],
                    'render': function(data, type, row, meta) {
                        var id=row.id;
                        var caseNo = row.caseNo;
                        var judgeType = row.judgeType;
                        var flowState = row.flowState;
                        var strs = '<a href="#" class="operation" onclick="judgeDetailClick(\''+ id + '\',\''+ caseNo + '\',\''+ judgeType + '\');">详情</a>';
                        if(flowState=="5000"||flowState=="0"){
	                        strs += '<a href="#" class="operation" onclick="alertAudit(\''+ id + '\');">审核</a>';
                        }    
                        if(flowState=="5001"){
                            strs += '<a href="#" class="operation" onclick="judgeSendFun(\''+ id + '\');">下发</a>';
                        }    
                        if(flowState=="5005"||flowState=="5001"){
                        	strs += '<a href="#" class="operation" onclick="alertAudit(\''+ id + '\');">复审</a>';
                        }
                        return  strs;
                    },
                    'bSortable': false
                }]
            });
        //logEntry("1","举报查询");
        $("#dynamic-table_filter").css("display", "none");
    }
    /*下发功能*/
    //下发弹框
    var iiMark2;
    function judgeSendFun(id){
        $("#judgeId").val(id);//隐藏域赋值
        $("#issue").attr('class','show');
        iiMark2 = layer.ready(function() {
            iiMark2 = layer.open({
                offset : 20,
                type : 1,
                title : '研判下发',
                fix : false,
                maxmin : true,
                shadeClose : true,
                area : [ '500px', '160px' ],
                content : $("#issue"),
                end : function() {
                    $('#form-dialogdsss').attr("style", "display:none");
                    $("#issue").attr('class','hide');
                }
            });
        }).index;
//         var operType="5003";//下发功能
//         $.ajax({
//             type: 'POST',
//             url: getRootPath_web()+"etJudgeflowHan/updateJudgeOperType?id="+id+"&operType="+operType,//发送请求
//             data:{
// //                auditOpinion:auditOpinion
//             },
//             dataType : "json",
//             success : function(data){
// //                console.log(data.data);
//                 if(data.data==1){
//                     parent.layer.msg("下发成功", {icon: 1,time:1000});
//                     location.reload();
//                 }else {
//                     parent.layer.msg("下发失败", {icon: 1,time:1000});
//                 }
//
//
//             }
//         });
    }

    function judgeDetailClick(id,caseNo,judgeType){
        var name='任务详情';
        var url=getRootPath_web()+'/view/judge/judgeDetail.html?id='+id+"$caseNo="+caseNo+"$judgeType="+judgeType;
        var width='90%';
        var high='100%';
        var callback=function (){
//            findSelect();
        };
        //弹框
        window.parent.Layer.layOpen(name,url,width,high,callback);
    }


    //审核弹框
    var iiMark;
    function alertAudit(id){
        $("#pass").attr('class','show');
        $("#judgeId").val(id);//隐藏域赋值
        iiMark = layer.ready(function() {
            iiMark = layer.open({
                offset : 20,
                type : 1,
                title : '研判审核',
                fix : false,
                maxmin : true,
                shadeClose : true,
                area : [ '500px', '260px' ],
                content : $("#pass"),
                end : function() {
                    $('#form-dialogdsss').attr("style", "display:none");
                    $("#pass").attr('class','hide');
                }
            });
        }).index;
    };

    //审核点击通过
    function auditPass(obj,index) {
        if("审核通过" == obj){
            var id=$("#judgeId").val();//隐藏域赋值
            var auditOpinion=$("#auditOpinion").val()
            console.info("这条数据id。。。"+id)
            var operType="5001";//审核通过
            parent.layer.msg(obj, {icon: 1,time:1000});
            setTimeout(function () {
                layer.close(index);
            },1000);
//        location.reload();
            $.ajax({
                type: 'POST',
                url: getRootPath_web()+"etJudgeflowHan/updateJudgeOperType?id="+id+"&operType="+operType,//发送请求
                data:{
                    auditOpinion:auditOpinion
                },
                dataType : "json",
                success : function(data){
//                console.log(data.data);
                    location.reload();
                }
            });
        }else if("下发成功" == obj) {
        }

    }
    //下发点击通过
    function auditPassXiaFa() {
            //下发成功的操作
            var id=$("#judgeId").val();//隐藏域赋值
            var issuedUnit=$("#issuedUnit").val();
            if(!Common.isEmpty(issuedUnit)){
                console.info(issuedUnit)
                var operType="5003";//下发功能
                $.ajax({
                    type: 'POST',
                    url: getRootPath_web()+"etJudgeflowHan/updateJudgeOperType?operType="+operType,
//                url: getRootPath_web()+"etJudgeflowHan/updateJudgeOperType?id="+id+"&operType="+operType,//发送请求
                    data:{
                        id:id,
                        issuedUnit:issuedUnit
                    },
                    dataType : "json",
                    success : function(data){
                        //                console.log(data.data);
                        if(data.data==1){
                            parent.layer.msg("下发成功", {icon: 1,time:1000});
                            location.reload();
                        }else {
                            parent.layer.msg("下发失败", {icon: 1,time:1000});
                        }
                    }
                });
            }else {
                parent.layer.msg("请选择下发单位", {icon: 1,time:1000});
            }
    }
    //点击不通过
    function noAuditPass(obj,index) {
        if("审核不通过" == obj){
            var id=$("#judgeId").val();//隐藏域赋值
            var auditOpinion=$("#auditOpinion").val()
            console.info("这条数据id。。。"+id)
            var operType="5002";//审核不通过
            parent.layer.msg(obj, {icon: 1,time:1000});
            setTimeout(function () {
                layer.close(index);
            },1000);
//        location.reload();
            $.ajax({
                type: 'POST',
                url: getRootPath_web()+"etJudgeflowHan/updateJudgeOperType?id="+id+"&operType="+operType,//发送请求
                data:{
                    auditOpinion:auditOpinion
                },
                dataType : "json",
                success : function(data){
//                console.log(data.data);
                    layer.close(index);
                    location.reload();
                }
            });
        }else if("取消下发" == obj){
//            alert("此时执行取消下发的方法");
            layer.closeAll();
        }


    }

    function findFlowStateChecked(){
    	var fsStr="";
    	if($("#fsDSH").is(':checked')){
    		fsStr=fsStr+","+$("#fsDSH").val();
    	}
    	if($("#fsSHTG").is(':checked')){
    		fsStr=fsStr+","+$("#fsSHTG").val();
    	}
    	if($("#fsYXF").is(':checked')){
    		fsStr=fsStr+","+$("#fsYXF").val();
    	}
    	if($("#fsJJQS").is(':checked')){
    		fsStr=fsStr+","+$("#fsJJQS").val();
    	}
    	if($("#fsYQS").is(':checked')){
    		fsStr=fsStr+","+$("#fsYQS").val();
    	}
    	if($("#fsYYP").is(':checked')){
    		fsStr=fsStr+","+$("#fsYYP").val();
    	}
    	if($("#fsSHWTG").is(':checked')){
    		fsStr=fsStr+","+$("#fsSHWTG").val();
    	}
    	return fsStr;
    }

    function search(){
    	dynamictableSearch();
    }

    function reset(){
    	$("#afdd").val("");
    	$("#zbdw").val("");
    	$("#bjsjStart").val("");
    	$("#bjsjEnd").val("");
    	$("#xfsjStart").val("");
    	$("#xfsjEnd").val("");
    	$("#fsDSH").removeAttr("checked");
    	$("#fsSHTG").removeAttr("checked");
    	$("#fsYXF").removeAttr("checked");
    	$("#fsJJQS").removeAttr("checked");
    	$("#fsYQS").removeAttr("checked");
    	$("#fsYYP").removeAttr("checked");
    	$("#fsSHWTG").removeAttr("checked");
    }
    /*查找当前系统用户的区域编码*/
    function findCurSysUserUnitCode(callback){
        var  url=getRootPath_web()+"/dic/findCurUserSysUnit";
        var dataP={}
        $.post(url, dataP, function (res) {
            var codes=res.data
//            console.info(codes)
            var caseSubtypePage = $("[name='issuedUnit']")//警情分类
            $.each(codes,function(i,n){
                var str = '<option value="' + n.id + '">' + n.name + '</option>'
                $(str).appendTo($(caseSubtypePage))
            })
            return callback();
        }, "json");
    }
</script>
</body>
</html>
